/*-----PRODUTOS----------*/
.product{
    text-align: center;
    
}

.title{
    text-align: center;
    margin: 0 auto 10px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product-box{
    width: 20%;
    min-width: 300px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 15px;
   /*cursor: pointer;*/
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 8px 8px;
    transition: 0.2s ease;
    position: relative;
}

.product-box:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
   
}
.image-box{
    width: 100%;
   
    border-radius: 10px;
}

.product-img{
    width: 100%;
    border-radius: 15px;
}

.product-box .des{
    text-align: start;
    padding: 6px 6px;
}

.product-box .des span{
    color: #606063;
    font-size: 10px;
    font-family: spartan;
    
}

.product-title{
    padding: 2px ;
    color: black;
    font-size: 14px;
}



.product-box .des i{
    font-size: 15px;
    color: rgb(243, 181, 25);
}

.price-box{
    display: flex;
    align-items: center;
    
}

.price-box p {
   font-weight: 600;
   font-size: 15px;
    
}


.price{
    font-size: 15px;
    font-weight: 700;
    color:green;
    padding-left: 5px;
}



/* ///// PRODUTOS MOBILE ////// */
@media only screen and (max-width:799px){

    .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        flex-wrap: wrap;
        margin: 4px;  
    }
    
    .product-box{
        width: 48%;
        padding: 2px 2px;
        border: 1px solid #cce7d0;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 3px 2px;
        transition: 0.2s ease;
        position: relative;
    }

    .add-cart{
        width: 100%;
        background: green;
        color: #ffff;
        padding: 8px 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 50px;
        border: none;
        font-weight: 500;
    }

    .product-box .des{
        text-align: start;
        padding: 2px px;
    }

    .product-box .des i{
        font-size: 10px;
        color: rgb(243, 181, 25);
    }

    .product-box .des h5{
        font-size: 9px;
    }

    .product-box .des span{
        font-size: 5px;
    }
}


.product-box .carrinho{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: green;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

.add-cart{
    width: 100%;
    background: green;
    color: #ffff;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    font-weight: 500;
    
}

.add-cart:hover{
    background: rgb(2, 95, 2);
}
